name: Release

on:
  pull_request:
    types:
      - closed
    branches:
      - main

concurrency: ${{ github.workflow }}

jobs:
  create_release:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ADMIN_PAT }}
          fetch-depth: 0

      - name: Setup bun
        uses: oven-sh/setup-bun@v2

      - name: Configure Git user
        run: |
          git config --global user.name "Candle Finance CI"
          git config --global user.email "contact@trycandle.com"

      - name: Configure npm auth
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Install dependencies
        run: bun install

      - name: Release
        working-directory: .
        run: bun release-it --non-interactive
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
